<div class="main-content mt-3">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-11">
                            <h3>All Blog</h3>
                        </div>
                        <div class="col-1 text text-right">
                            <a href="/addBlog" class="btn btn-primary" >Add Blog </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <% for(let i = 0; i < blog.length; i++){ let blogs = blog[i] 
                        const allImages = (blogs.images) ? blogs.images.split(",") : null;
                        let productSingleImg = (allImages) ? allImages[0] : ''; %>
                    <div class="card " >
                        <div class="card-header">
                           <h3><%= blogs.title; %></h3>
                        </div>
                        <div class="card-body" >

                            <img src="/images/<%= productSingleImg; %>" alt="" height="250px" width="300px">
                            <h6>
                            </h6>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-10">
                                    <span><%= blogs.description; %></span>
                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>